@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background-color: #929292;
    border-radius: 10px;
}

/* Handle Of Hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #686868;
}
